# Dependencies
node_modules/

# Environment
.env

# Uploads (keep folder structure but ignore files)
public/uploads/images/*
public/uploads/videos/*
!public/uploads/images/.gitkeep
!public/uploads/videos/.gitkeep

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
.vercel
